#page {
    margin-top: 40px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 3.0s;
    animation-name: animatebottom;
    animation-duration: 3.0s
}

#display {
    margin-top: 30px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    -webkit-animation-name: animatebottomtwo;
    -webkit-animation-duration: 3.0s;
    animation-name: animatebottomtwo;
    animation-duration: 3.0s
}

#display h2 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25em;
}

#search {
    margin-top: 100px;
}

.results {
    display: block;
    font-size: 1.15em;
    font-style: bold;
}

.subjects {
    font-style: italic;
    font-size: 0.9em;
}

.research {
    border: solid #74b9ff 2px;
    border-radius: 3px;
    display: inline;
    background-color: #74b9ff;
    color: white;
    text-decoration: none;
    font-size: 0.85em;
}

@-webkit-keyframes animatebottom {
    from { margin-top: 150px; opacity:0 } 
    to { margin-top: 40px; opacity:1 }
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -30px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #00904c;
    border-bottom: 16px solid #da2128;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

@keyframes animatebottom { 
    from { margin-top: 150px; opacity:0 } 
    to { margin-top: 40px; opacity:1 }
}

@-webkit-keyframes animatebottomtwo {
    from { margin-top: 150px; opacity:0 } 
    to { margin-top: 30px; opacity:1 }
}

@keyframes animatebottomtwo { 
    from { margin-top: 150px; opacity:0 } 
    to { margin-top: 30px; opacity:1 }
}