#searchpage {
    align-content: center;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin-top: 200px;
}

#searchbutton {
    margin-top: 20px;
    width: 150px;
}

#searchbar {
    border: 1px solid black;
    border-radius: 5px;
    height: 50px;
    width: 300px;
}

select {
    text-align: center;
    text-align-last: center;
    height: 50px;
    width: 200px;
    border-radius: 5px;
    font-family: 'Raleway', sans-serif; 
}

.group {
    display: inline-block;
}

.search {
    margin-top: 15px;
    font-family: 'Raleway', sans-serif;
    color: white;
    border-radius: 5px;
    box-shadow: none;
    height: 30px;
    width: 200px;
    background-color: #3498db;
}
