<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Subject Search</title>
    <link rel="icon" href="/assets/Logo_Alice_Smith_School.png">
    <script src="https://kit.fontawesome.com/882c2058ff.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/search.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway&display=swap">
</head> 
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a href="#" class="navbar-brand">HE Alumni Search Tool</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse"></div>
        <div class="navbar-nav">
            <a href="/" class="nav-item nav-link">Subject Search</a>
            <a href="/course" class="nav-item nav-link">Course Search</a>
            <a href="#" class="nav-item nav-link">Alumni Contacts</a>
        </div>
    </div>
</nav>
<body>
    <div id="searchpage">
        <div id="select" style="margin-top: 30px;">
            <h1>Something went wrong.</h1>
            <a href="/" class="btn btn-danger" style="margin-top: 10px;">Back to safety</a>
        </div>
    </div>
</body>