<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Subject Search</title>
    <link rel="icon" href="/assets/Logo_Alice_Smith_School.png">
    <script src="https://kit.fontawesome.com/882c2058ff.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/search.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway&display=swap">
</head> 
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a href="#" class="navbar-brand">HE Alumni Search Tool</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse"></div>
        <div class="navbar-nav">
            <a href="/" class="nav-item nav-link active">Subject Search</a>
            <a href="/course" class="nav-item nav-link">Course Search</a>
            <a href="#" class="nav-item nav-link">Alumni Contacts</a>
        </div>
    </div>
</nav>
<body>
    <div id="searchpage">
        <div id="select">
            <h1>Select your subjects</h1>
            {% if error != "" %}
                <p id="error">{{ error }}</p>
            {% endif %}
            <form action="/search" method="POST">
                <div class="group">
                    <label for="subject_one">Subject One</label><br>
                    <select name="subject_one" required>
                        <option selected="selected" disabled></option>
                        <option value="Art">Art <i class="fas fa-search" style="margin-left: 8px;"></i></option>
                        <option value="Biology" font-famil>Biology</option>
                        <option value="Business Studies">Business Studies</option>
                        <option value="Chemistry">Chemistry</option>
                        <option value="Computer Science">Computer Science</option>
                        <option value="Drama">Drama</option>
                        <option value="DT">DT</option>
                        <option value="Economics">Economics</option>
                        <option value="English Language">English Language</option>
                        <option value="English Literature">English Literature</option>
                        <option value="French">French</option>
                        <option value="Further Maths">Further Maths</option>
                        <option value="Geography">Geography</option>
                        <option value="History">History</option>
                        <option value="Mandarin">Mandarin</option>
                        <option value="Maths">Maths</option>
                        <option value="Media Studies">Media Studies</option>
                        <option value="Music">Music</option>
                        <option value="PE">PE</option>
                        <option value="Photography">Photography</option>
                        <option value="Physics">Physics</option>
                        <option value="Psychology">Psychology</option>
                        <option value="Sociology">Sociology</option>
                        <option value="Spanish">Spanish</option>
                    </select>
                </div>
                <div class="group">
                    <label for="subject_two">Subject Two</label><br>
                    <select name="subject_two" required>
                        <option selected="selected" disabled></option>
                        <option value="Art">Art</option>
                        <option value="Biology" font-famil>Biology</option>
                        <option value="Business Studies">Business Studies</option>
                        <option value="Chemistry">Chemistry</option>
                        <option value="Computer Science">Computer Science</option>
                        <option value="Drama">Drama</option>
                        <option value="DT">DT</option>
                        <option value="Economics">Economics</option>
                        <option value="English Language">English Language</option>
                        <option value="English Literature">English Literature</option>
                        <option value="French">French</option>
                        <option value="Further Maths">Further Maths</option>
                        <option value="Geography">Geography</option>
                        <option value="History">History</option>
                        <option value="Mandarin">Mandarin</option>
                        <option value="Maths">Maths</option>
                        <option value="Media Studies">Media Studies</option>
                        <option value="Music">Music</option>
                        <option value="PE">PE</option>
                        <option value="Photography">Photography</option>
                        <option value="Physics">Physics</option>
                        <option value="Psychology">Psychology</option>
                        <option value="Sociology">Sociology</option>
                        <option value="Spanish">Spanish</option>
                    </select>
                </div>
                <div class="group">
                    <label for="subject_three">Subject Three</label><br>
                        <select name="subject_three" required>
                            <option selected="selected" disabled></option>
                        <option value="Art">Art</option>
                        <option value="Biology" font-famil>Biology</option>
                        <option value="Business Studies">Business Studies</option>
                        <option value="Chemistry">Chemistry</option>
                        <option value="Computer Science">Computer Science</option>
                        <option value="Drama">Drama</option>
                        <option value="DT">DT</option>
                        <option value="Economics">Economics</option>
                        <option value="English Language">English Language</option>
                        <option value="English Literature">English Literature</option>
                        <option value="French">French</option>
                        <option value="Further Maths">Further Maths</option>
                        <option value="Geography">Geography</option>
                        <option value="History">History</option>
                        <option value="Mandarin">Mandarin</option>
                        <option value="Maths">Maths</option>
                        <option value="Media Studies">Media Studies</option>
                        <option value="Music">Music</option>
                        <option value="PE">PE</option>
                        <option value="Photography">Photography</option>
                        <option value="Physics">Physics</option>
                        <option value="Psychology">Psychology</option>
                        <option value="Sociology">Sociology</option>
                        <option value="Spanish">Spanish</option>
                        </select>
                </div>
                <div class="group">
                    <label for="subject_four">Subject Four</label><br>
                    <select name="subject_four" required>
                        <option selected="selected" disabled></option>
                        <option value="None">None</option>
                        <option value="Art">Art</option>
                        <option value="Biology" font-famil>Biology</option>
                        <option value="Business Studies">Business Studies</option>
                        <option value="Chemistry">Chemistry</option>
                        <option value="Computer Science">Computer Science</option>
                        <option value="Drama">Drama</option>
                        <option value="DT">DT</option>
                        <option value="Economics">Economics</option>
                        <option value="English Language">English Language</option>
                        <option value="English Literature">English Literature</option>
                        <option value="EPQ">EPQ</option>
                        <option value="French">French</option>
                        <option value="Further Maths">Further Maths</option>
                        <option value="Geography">Geography</option>
                        <option value="History">History</option>
                        <option value="Mandarin">Mandarin</option>
                        <option value="Maths">Maths</option>
                        <option value="Media Studies">Media Studies</option>
                        <option value="Music">Music</option>
                        <option value="PE">PE</option>
                        <option value="Photography">Photography</option>
                        <option value="Physics">Physics</option>
                        <option value="Psychology">Psychology</option>
                        <option value="Sociology">Sociology</option>
                        <option value="Spanish">Spanish</option>
                    </select>
                </div>
                <br>
                <button id ="searchbutton" type="submit" class="btn btn-primary">Search <i class="fas fa-search" style="margin-left: 8px;"></i></button>
            </form>

        </div>
    </div>
</body>
</html>