<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .results {
            border: solid blue 2px;
            border-radius: 3px;
            display: inline;
            background-color: blue;
            color: white;
            text-decoration: none;
    </style>
</head>
<body>
    <a href="#" class="results">Hello There</a>
</body>
</html>